[submodule "lab_5/third-party/GTest"]
	path = lab_5/third-party/GTest
	url = https://github.com/google/googletest.git
[submodule "lab_5/third-party/cov-cmake"]
	path = lab_5/third-party/cov-cmake
	url = https://github.com/JoakimSoderberg/coveralls-cmake.git
